{% extends '/dashboards/baseadmin.html'%}

{% block content %}


<div class="text-center text-white">
<h2>Admin Controls</h2>
</div><br>

<div class="row main_container text-white">

  <div class="mt-2 p-3 admin_controls_card">
    <a class="navbar-brand text-center" href="/admin/info">
      <div><br><br><span class="material-symbols-outlined">request_quote</span><br><br></div>
      <h2 style="font-size: 18px;"><u>Manage Sponsors</u></h2>
    </a><br>
    <div class="text-center" style="font-size: 10px;">
    <p>Admin can Flag/Unflag inappropriate Sponsors</p>
    <p>Multilevel search is available in Sposnors</p>
  </div>
  </div><br>

  <div class="mt-2 p-3 admin_controls_card">
    <a class="navbar-brand text-center" href="/admin/info">
      <div><br><br><span class="material-symbols-outlined">groups</span><br><br></div>
      <h2 style="font-size: 18px;"><u>Manage influencers</u></h2>
    </a><br>
    <div class="text-center" style="font-size: 10px;">
    <p>Admin can Flag/Unflag inappropriate Influencers</p>
    <p>Multilevel search is available in Influencers</p>
  </div>
  </div><br>

  <div class="mt-2 p-3 admin_controls_card">
    <a class="navbar-brand text-center" href="/admin/info">
      <div><br><br><span class="material-symbols-outlined">campaign</span><br><br></div>
      <h2 style="font-size: 18px;"><u>Manage Campaigns</u></h2>
    </a><br>
    <div class="text-center" style="font-size: 10px;">
    <p>Admin can Flag/Unflag inappropriate Campaigns</p>
    <p>Multilevel search is available in Campaigns</p>
  </div>
  </div><br>

  <div class="mt-2 p-3 admin_controls_card">
    <a class="navbar-brand text-center" href="/admin/info">
      <div><br><br><span class="material-symbols-outlined">ads_click</span><br><br></div>
      <h2 style="font-size: 18px;"><u>Manage AdRequests</u></h2>
    </a><br>
    <div class="text-center" style="font-size: 10px;">
    <p>Admin can Flag/Unflag inappropriate AdRequests</p>
    <p>Multilevel search is available in AdRequests</p>
  </div>
  </div><br>



</div>







{% endblock %}